<h1>Editing Book</h1>
<%= form_with model:@book, local:true do |f| %>
  <label for="title">Title</label>
  <div>
   <%= f.text_field :title, autofocus: true, id:"title" %>
  </div>
  <label for="body">Opinion</label>
  <div>
   <%= f.text_field :body, autofocus: true, id:"body" %>
  </div>
  <div>
   <%= f.submit "Update Book" %>
  </div>

<% end %>

<%= link_to "Show", book_path(@book) %>
<%= link_to "Back", books_path %>

