<%= render 'books/list' %>

<%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %>

<table>
  <thead>
    <tr>
      <th>name</th>
      <th><%= @user.name %></th>
    </tr>
    <tr>
      <th>introduction</th>
      <th><%= @user.introduction %></th>
    </tr>
  </thead>
</table>
<div>
  <%= link_to "編集", edit_user_path(@user) %>
</div>

<h1>New book</h1>
<%= form_with model:@book, local:true do |f| %>
  <label for="title">Title</label>
  <div>
   <%= f.text_field :title, autofocus: true, id:"title" %>
  </div>
  <label for="body">Opinion</label>
  <div>
   <%= f.text_field :body, autofocus: true, id:"body" %>
  </div>
  <div>
   <%= f.submit "Create Book" %>
  </div>
<% end %>

<h1>Books</h1>
<table>
  <thead>
    <tr>
      <th></th>
      <th>Title</th>
      <th>Opinion</th>
    </tr>
  </thead>
  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= attachment_image_tag book.user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %></td>
        <td><%= link_to book.title, book_path(book) %></td>
        <td><%= book.body %></td>
      </tr>
    <% end %>
  </tbody>
</table>


