<%= render 'books/list', user: @user, book: @book %>

<h1>Book detail</h1>
<table>
  <tbody>
    <tr>
      <td>
        <%= attachment_image_tag @books.user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %>
        <br>
        <%= link_to @books.user.name, user_path(@books.user)  %>
      </td>
      <td><%= link_to @books.title, book_path(@books)  %></td>
      <td><%= @books.body %></td>
      <td><%= link_to "Edit", edit_book_path(@books) %></td>
      <td><%= link_to "Destroy", book_path(@books), method: :delete %></td>
    </tr>
  </tbody>
</table>

